@{
    Layout = "_Layout";
}

@model Registrar.Models.Course

<h4>Create a new course</h4>

@using (Html.BeginForm())
{
    <p>Course Name</p>
    @Html.TextBoxFor(model => model.CourseName)

    <p>Course Number</p>
    @Html.TextBoxFor(model => model.CourseNumber)
    <br>
    <input type="submit" value="Create course" class="btn btn-default" />
}

<p>@Html.ActionLink("Return to course directory", "Index")</p>